<div id="<%= dom_id movie %>" >
    <strong>Image:</strong>
  <p>
    <%= image_tag movie.image, width: 400, height:500 , class:"rounded shadow" %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p class="summary">
    <strong>Résumé:</strong> <br>
    <%= movie.summary %>
  </p>

  <p>
    <strong>Date de sortie:</strong>
    <%= movie.release_year %>
  </p>

  <p class="title">
    <strong>Acteurs:</strong><br>
    <%= movie.actor %>
  </p>

  <p>
    <strong>Producteur:</strong>
    <%= movie.director %>
  </p>



</div>
