<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>
  <div class="container mt-5 d-flex justify-content-end gap-2">
    <%= link_to "Voir les producteurs", directors_path, class: "btn btn-outline-primary" %>
    <%= link_to "Nouveau film", new_movie_path, class:"btn btn-outline-primary justify-content-center" %>
  </div>


<h1 class="title-movie text-center ">Films</h1>

<div class="container">
  <div id="movies" class="row justify-content-center">
    <% @movies.each do |movie| %>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="movie-card">
          <%= render movie %>
          <p>
            <%= link_to "Voir le film", movie_path(movie) , class: "btn btn-outline-primary button-movie" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
