<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Modifier ce film", edit_movie_path(@movie) , class: "btn btn-outline-primary" %> 
  <%= link_to "Revenir aux films", movies_path , class: "btn btn-outline-primary" %>

  <%= button_to "Supprimer", @movie, method: :delete, class: "btn btn-outline-danger mt-4 " %>
</div>
