<div id="<%= dom_id director %>">
  <p>
    <strong>First name:</strong>
    <%= director.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= director.last_name %>
  </p>

    <strong>Image:</strong>
  <p>
    <%= image_tag director.image, width: 200 %>
  </p>

<h1> Film produits </h1>
<ul>
  <% director.movies.each do |movie| %>
    <li> <%= link_to movie %> </li>
    <%end%>
</ul>
</div>
