<div id="<%= dom_id director%>" class="director">
  <p>
    <strong>Prénom:</strong>
    <%= director.first_name %>
  </p>

  <p>
    <strong>Nom:</strong>
    <%= director.last_name %>
  </p>

    <p class="img-fluid"><strong>Image:</strong></p>
  <p>
    <%= image_tag director.image, width: 200, height: 290, class: "rounded shadow" %>
  </p>


  <%= link_to "Voir ces films", movies_path, class: "btn btn-outline-primary" %>

</div>

