<p style="color: green"><%= notice %></p>

<% content_for :title, "Directors" %>

<h1 class=" title-director text-center mb-5">PRODUCTEURS</h1>

<div class="container">
  <div id="directors" class="row" d-flex justify-content-center>
    <% @directors.each do |director| %>
      <div class="col-md-4">
        <div class="director-card">
          <%= render director %>
            <p>
              <%= link_to "Voir ce producteur", director, class: "btn btn-outline-primary mt-2" %>
            </p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container mt-5 d-flex justify-content-end ">
  <%= link_to "Voir les films", movies_path, class: "btn btn-outline-primary" %>
<%= link_to "Créer un nouveau producteur", new_director_path, class: "btn btn-outline-primary" %>
</div>