<p style="color: green"><%= notice %></p>

<%= render @director %>

<div>
  <%= link_to "Modifiers le producteurs", edit_director_path(@director), class: "btn btn-outline-primary" %> 
  <%= link_to "Revenir à l'accueil", directors_path, class: "btn btn-outline-primary" %>

  <%= button_to "Supprimer", @director, method: :delete, class: "btn btn-outline-danger mt-4" %>
</div>
